
:root {
    --background-color: black;
    --text-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;   
}
.head,body,header {
    background-color: black;
    color: white;

}
table {
    border: 1px solid white;
    border-collapse: collapse;
    cellpadding: 5px;
    cellspacing: 0;
}
th, td {
    border: 1px solid white;
    padding: 5px;
    background-color: color-mix(in srgb, brown 75%, black 25%);
}
th{
    border: 4px double blue;
    border-bottom: 2px solid yellow;

}
td{
    border-bottom: 2px solid yellow;
    border-right: 4px double blue;
    border-left: 4px double blue;

}

table{

}

p{
    color: white;
    text-shadow: 1px 1px 4px eggshell;

}
.header-0 {
    color: green;
    text-align: center;
    text-shadow: 1px 1px 4px darkgreen;

}
/* COL NUMBER */
.column-0 {
    color: yellow;
    /* background-color: darkslategrey; */
    text-align: center;
    text-shadow: 1px 1px 4px darkgoldenrod;

}
/* YEAR */
.column-1 {
    color: blue;
    /* background-color: darkslategrey; */
    text-align: center;
    text-shadow: 1px 1px 4px darkcyan;
}
/* SEX */
.column-2-g {
    color: pink;
    /* background-color: darkslategrey; */
    text-align: center;
    text-shadow: 1px 1px 4px darkgoldenrod;

}
.column-2-b {
    color: blue;
    /* background-color: darkslategrey; */
    text-align: center;
    text-shadow: 1px 1px 4px darkgoldenrod;

}
/* F_NAME */
.column-3{
    color: yellow;
    /* background-color: darkslategrey; */
    text-align: center;
    text-decoration: double underline;
    text-shadow: 1px 1px 4px darkgoldenrod;

}
/* L_NAME */
.column-4 {
    color: yellow;
    /* background-color: darkslategrey; */
    text-align: center;
    text-decoration: double underline;
    text-shadow: 1px 1px 4px darkgoldenrod;


}